/**********************************************************************
 **********************************************************************
 * 			Botones extra grandes 
 ********************************************************************** 
 *********************************************************************/
.btn-xlarge{
	cursor: pointer;
	padding: 20px 0;
	width: 150px;
	font-size: 3em;
  	line-height: 1.33;
  	margin-right: 22px; 
  	display: block;
  	padding-right: 0;
  	padding-left: 0;
}
.btn-xlarge + .btn-xlarge {
  	margin-top: 5px;
}
	input[type="submit"].btn-block,
	input[type="reset"].btn-block,
	input[type="button"].btn-block {
  	width: 100%;
}



/**********************************************************************
 **********************************************************************
 * 			Front end 
 ********************************************************************** 
 *********************************************************************/

.footer-text{
	padding-left: 30px; 
	padding-right: 30px; 
	float: left;
}
.flotante {
position: fixed;
z-index: 9000;
bottom: 0;
right: 0;
}

.scrollup{
   display:none;   
}

.menu{
	background-color: #57101c;
	background-image: url("uno.png");
	background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius:15px;
	margin-bottom: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
}


.btn-hotel {
  color: #fff;
  background-color: #57101c;
  border-color: #3d0811;
}
.btn-hotel:hover,
.btn-hotel:focus,
.btn-hotel:active,
.btn-hotel.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #922438;
  border-color: #3d0811;
}



.panel-hotel {
  border-color: #ddd;
}
.panel-hotel > .panel-heading {
  color: #FFF;
  background-color: #57101c;
  border-color: #ddd;
 background-image: url("uno.png");
	background-size: 100% 100%;
    background-repeat: no-repeat;
}
.panel-hotel > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd;
}
.panel-hotel > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333;
}
.panel-hotel > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ddd;
}
/* Badger
------------------------- */

[class*="badger"] {
    position: relative;
    margin: 15px 0;
    padding: 39px 19px 14px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
}

[class*="badger"]:after {
    content: attr(data-badger);
    position: absolute;
    top: 0;
    padding: 3px 7px;
    font-size: 15px;
    font-weight: bold;
    background: #999;
    color: #fff;
}

.badger-left:after {
    left: 0;
    border-radius: 6px 0 6px 0;
}

.badger-right:after {
    right: 0;
    border-radius: 0 6px 0 6px;
}

.badger-danger:after {
    background: #d9534f;
}

.badger-primary:after {
    background: #428bca;
}

.badger-warning:after {
    background: #f0ad4e;
}

.badger-success:after {
    background: #5cb85c;
}

.badger-info:after {
    background: #5bc0de;
}

.badger-inverse:after {
    background: #222;
}

.badger-hotel:after {
    background: #57101c;
}






.shape{    
    border-style: solid; border-width: 0 40px 40px 0; float:right; height: 0px; width: 0px;
    -webkit-transform: rotate(360deg);  
    -moz-transform: rotate(360deg);  
    -o-transform: rotate(360deg);  
    transform: rotate(360deg); 
}
.shape-text{
    color:#fff; font-size:12px; font-weight:bold; position:relative; right:-22px; top:-3px; white-space: nowrap;
	-ms-transform:rotate(30deg); /* IE 9 */
	-o-transform: rotate(360deg);  /* Opera 10.5 */
	-webkit-transform:rotate(46deg); /* Safari and Chrome */
	transform:rotate(46deg);
}
.offer{
	background:#fff; border:1px solid #ddd; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); margin: 15px 0; overflow:hidden;
}
.shape {
	border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);
}
.offer-radius{
	border-radius:7px;
}
.offer-danger {	border-color: #d9534f; }
.offer-danger .shape{
	border-color: transparent #d9534f transparent transparent;
}
.offer-success {	border-color: #5cb85c; }
.offer-success .shape{
	border-color: transparent #5cb85c transparent transparent;
}
.offer-default {	border-color: #999999; }
.offer-default .shape{
	border-color: transparent #999999 transparent transparent;
}
.offer-primary {	border-color: #428bca; }
.offer-primary .shape{
	border-color: transparent #428bca transparent transparent;
}
.offer-info {	border-color: #5bc0de; }
.offer-info .shape{
	border-color: transparent #5bc0de transparent transparent;
}
.offer-warning {	border-color: #f0ad4e; }
.offer-warning .shape{
	border-color: transparent #f0ad4e transparent transparent;
}

.offer-content{
	padding:0 20px 10px;
}
@media (min-width: 487px) {
  .container {
    max-width: 750px;
  }
  .col-sm-6 {
    width: 50%;
  }
}
@media (min-width: 900px) {
  .container {
    max-width: 970px;
  }
  .col-md-4 {
    width: 33.33333333333333%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .col-lg-3 {
    width: 25%;
  }
  }
}














.thumbnail {
    position:relative;
    overflow:hidden;
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}

/****************************************************************
 ****************************************************************
 * 				Tablas del backend
 ***************************************************************
 ***************************************************************/

.field-sorting{
	cursor: pointer;	
}
label{
	color:#000;
}
.img-banner{
	width: 140px;
	height: 140px;
	float: left!important;
	height: 140px;
	float: left!important;
	border: 1px solid #EFEFEF;
	padding: 4px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.text-banner{
	color:#000; 
	text-align: justify;
}

.small-loading
{
	background: url('load.gif') no-repeat;
	padding-left:25px;
	display: none;
}
.flexigrid  .ftitle-left
{
	float: left;
	margin:0px !important;
	padding: 0px !important;
}
.report-div
{
	padding: 10px;
	border-style: solid;
	border-width: 1px;
	margin-bottom: 10px;
	margin-top: 10px;
	display:none;
	font-family: Arial,Helvetica,sans-serif;
}
.report-div.success
{
	border-color: green;
}
.report-div.success p
{
	background: url(images/success.png) no-repeat left center;
	margin: 0px !important;
	padding: 10px 0px 10px 25px !important;
}
.report-div.error
{
	border-color: red;
}
.report-div.error p
{
	background: url(images/error.png) no-repeat left center;
	margin: 0px !important;
	padding: 10px 0px 10px 25px !important;
}
input.field_error
{
	border: 1px solid red !important;
}


/****************************************************************
 ****************************************************************
 * 				Tabla de habitacion frontend
 ***************************************************************
 ***************************************************************/


a.list-group-item {
    height:auto;
    min-height:220px;
}
a.list-group-item.active small {
    color:#fff;
}
.stars {
    margin:20px auto 1px;    
}


/****************************************************************
 ****************************************************************
 * 				Validación 
 ***************************************************************
 ***************************************************************/

.input-group-addon.primary {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}
.input-group-addon.success {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}
.input-group-addon.info {
    color: rgb(255, 255, 255);
    background-color: rgb(57, 179, 215);
    border-color: rgb(38, 154, 188);
}
.input-group-addon.warning {
    color: rgb(255, 255, 255);
    background-color: rgb(240, 173, 78);
    border-color: rgb(238, 162, 54);
}
.input-group-addon.danger {
    color: rgb(255, 255, 255);
    background-color: #922438;
    border-color: rgb(212, 63, 58);
}


/*******************************************************************
 *******************************************************************
 * 				Step Formulario
 ******************************************************************* 
 ******************************************************************/


.bs-wizard {/*margin-top: 40px;*/}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }

/*******************************************************************
 *******************************************************************
 * 				Login
 ******************************************************************* 
 ******************************************************************/


.login-container{
    position: relative;
    width: 300px;
    margin: 80px auto;
    padding: 20px 40px 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
}

#output{
    position: absolute;
    width: 300px;
    top: -75px;
    left: 0;
    color: #fff;
}

#output.alert-success{
    background: rgb(25, 204, 25);
}

#output.alert-danger{
    background: rgb(228, 105, 105);
}


.login-container::before,.login-container::after{
    content: "";
    position: absolute;
    width: 100%;height: 100%;
    top: 3.5px;left: 0;
    background: #fff;
    z-index: -1;
    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    border: 1px solid #ccc;

}

.login-container::after{
    top: 5px;
    z-index: -2;
    -webkit-transform: rotateZ(-2deg);
     -moz-transform: rotateZ(-2deg);
      -ms-transform: rotateZ(-2deg);

}

.avatar{
    width: 100px;height: 100px;
    margin: 10px auto 30px;
    border-radius: 100%;
    border: 2px solid #aaa;
    background-size: cover;
}

.form-box input{
    width: 100%;
    padding: 10px;
    text-align: center;
    height:40px;
    border: 1px solid #ccc;;
    background: #fafafa;
    transition:0.2s ease-in-out;

}

.form-box input:focus{
    outline: 0;
    background: #eee;
}

.form-box input[type="text"]{
    border-radius: 5px 5px 0 0;
    text-transform: lowercase;
}

.form-box input[type="password"]{
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

.form-box button.login{
    margin-top:15px;
    padding: 10px 20px;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.avatar{
	background-image: url('user.png');
}


/*******************************************************************
 *******************************************************************
 * 				Botones grandes
 ******************************************************************* 
 ******************************************************************/

.icon-lg{font-size:3em; color:#FFF; }
.blockquote-box{border-right:5px solid #E6E6E6;margin-bottom:25px}
.blockquote-box .square{width:100px;min-height:50px;margin-right:22px;text-align:center!important;background-color:#E6E6E6;padding:20px 0}

.blockquote-box.blockquote-primary{border-color:#357ebd}
.blockquote-box.blockquote-primary .square{background-color:#428bca;color:#FFF}
.blockquote-box.blockquote-primary:hover{border-color:#285e8e; box-shadow: 10px 10px 5px #888888;}
.blockquote-box.blockquote-primary .square:hover{background-color:#3071a9;color:#FFF ; cursor:pointer}

.blockquote-box.blockquote-success{border-color:#4cae4c}
.blockquote-box.blockquote-success .square{background-color:#5cb85c;color:#FFF}
.blockquote-box.blockquote-success:hover{border-color:#398439; box-shadow: 10px 10px 5px #888888;}
.blockquote-box.blockquote-success .square:hover{background-color:#449d44;color:#FFF ; cursor:pointer}

.blockquote-box.blockquote-info{border-color:#46b8da}
.blockquote-box.blockquote-info .square{background-color:#5bc0de;}
.blockquote-box.blockquote-info:hover{border-color:#269abc; box-shadow: 10px 10px 5px #888888;}
.blockquote-box.blockquote-info .square:hover{background-color:#31b0d5;color:#FFF ; cursor:pointer}

.blockquote-box.blockquote-warning{border-color: #eea236}
.blockquote-box.blockquote-warning .square{background-color:#f0ad4e;color:#FFF}
.blockquote-box.blockquote-warning:hover{border-color:#d58512; box-shadow: 10px 10px 5px #888888;}
.blockquote-box.blockquote-warning .square:hover{background-color: #ec971f;color:#FFF ; cursor:pointer}


.blockquote-box.blockquote-danger{border-color:#D43F3A}
.blockquote-box.blockquote-danger .square{background-color:#D9534F;color:#FFF}
.blockquote-box.blockquote-danger{border-color:#D43F3A; box-shadow: 10px 10px 5px #888888;}
.blockquote-box.blockquote-danger .square{background-color:#D9534F;color:#FFF}


.blockquote-box.blockquote-default{border-color:#ccc}
.blockquote-box.blockquote-default .square{background-color:#ccc;color:#333}
.blockquote-box.blockquote-default:hover{border-color:#adadad; box-shadow: 10px 10px 5px #888888;}
.blockquote-box.blockquote-default .square:hover{background-color:#bbb;color:#333; cursor:pointer}


.bs-docs-featurette-title {
font-size: 40px;
}
.bs-docs-featurette-title {
margin-bottom: 5px;
font-size: 30px;
font-weight: 400;
color: #333;
}

/***************************************************************
 ***************************************************************
 * 		Consulta web
 * ************************************************************* 
 **************************************************************/

.box > .icon { text-align: center; position: relative; }
.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: #63B76C; vertical-align: middle; }
.box > .icon:hover > .image { background: #333; }
.box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
.box > .icon:hover > .image > i { color: white !important; }
.box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.04); border: 1px solid #e0e0e0; padding: 15px 0 10px 0; }
.box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }
.box > .icon > .info > h3.title { font-family: "Roboto",sans-serif !important; font-size: 16px; color: #222; font-weight: 500; }
.box > .icon > .info > p { font-family: "Roboto",sans-serif !important; font-size: 13px; color: #666; line-height: 1.5em; margin: 20px;}
.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
.box > .icon > .info > .more a { font-family: "Roboto",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
.box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #63B76C; }
.box .space { height: 30px; }


